<div class="header">
    <img class="logo" src="../../../assets/images/logo3.PNG">
    <div class="header-right">
        <img (click)='onLogout()' class="logoutPic" src="../../../assets/images/logout.png">
    </div>
</div>

<div class="bButton">
    <button class="backButton" (click)="onXrayBack()" mat-raised-button>Back</button>
</div>
<h1 style="font-size: 3rem;
    margin-left: 34rem;
    margin-top: 2rem;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Covid X-Ray Analysis</h1>
<br>

<input style="float: left; margin-left: 22rem; " type='file' [(ngModel)]="filesCsv" (change)="readURL($event.target.files);" />
<div>
    <button *ngIf='imgFlag' style="float: left;margin-top: 5rem;margin-left: -16rem;" (click)="onUpload()"
        mat-raised-button color="primary">Upload</button>
        <button *ngIf='imgFlag'  (click)="a()" style="margin-top: 80px;margin-left: -8rem;"
    mat-raised-button>Clear</button>
</div>
<br>
<img style='float: right;
margin-top: -9rem;
margin-right: 33rem;' id="blah" [src]="imageSrc || '../../../assets/images/white.png'" alt="your image" />

<br>
    <br>
    <button style="float: left;margin-left: 25rem;" *ngIf = 'resultFlag' (click)="onView()"
    mat-raised-button color="warn">View Result</button>
<!-- </div> -->

<div class="container" *ngIf='showDialog'>
    <div id="myModal" class="modal" *ngIf='showDialog'>
  
      <!-- Modal content -->
      <div class="modal-content">
      <br>
      <br>
      <br>
<!--         
        <h3  style="font-size: xx-large; font-style:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top: 5%;margin-left: 5%;">{{tag}}</h3> -->

        <span class="blinking">{{tag}}</span>

        <span class="close" (click)="closeDialog()">&times;</span>
        
        
         
          
          
    
  </div>
  </div>
  </div>


  <div *ngIf = 'spinnerFlag' class="loading" style="float: left;margin-left: 26rem;">
    <div></div>
    <div></div>
    <div></div>
  </div>