<div class="header">
    <img class="logo" src="../../../assets/images/logo3.PNG">
    <div class="header-right">
      <img (click) = 'onLogout()' class="logoutPic" src="../../../assets/images/logout.png">
    </div>
  </div>

  <div class="bButton">
    <button class="backButton" (click)="onBack()" mat-raised-button>Back</button>
    </div>
    <h1 style="font-size: 3rem;
    margin-left: 34rem;
    margin-top: 2rem;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Meditation Videos</h1>
    
    <div class="row">
        <div class="column">
            <iframe class="mpic" width="560" height="315" src="https://www.youtube.com/embed/t3ObeIEz3bA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        
        <div class="column">
            <iframe class="mpic" width="560" height="315" src="https://www.youtube.com/embed/RCbghW1xPqI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
      </div>