*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   }
  
  body {
    margin: 0 auto;
    max-width: 960px;
  }
  .grid {
    background: pink;
  }
  
  .grid_item {
    background: #ebebeb;  
    display: block;
    float: left;
    position: relative;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
    -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }
  
  .grid_link {
    display: block;
    color: black;
    position: relative;
    overflow: hidden;
    border: 4px solid #FFF;
  }
  
  .tile {
    font-size: 14px;
    font-family: "Segoe UI";
    line-height: 18px;
    padding: 12px;
    position: absolute;
    bottom: 0%;
    left: 0%;    
    -webkit-transform: translate(0%,0%);
        -ms-transform: translate(0%,0%);
            transform: translate(0%,0%);
    width: 100%;
  }
  
  .a {  background: rgb(216, 16, 16);}
  .b { background: pink; }
  .c { background: aqua; }
  .d { background: white; }
  .e { background: yellow; }
  .f { background: brown; }
  .g { background: purple; }
  .h { background: white}


  
  @media all and (max-width: 320px) {
    .span__1,
    .span__2,
    .span__4{
      width: 100%;
      .grid_link {
         padding-bottom: 100%;
        }
    }
  }
  
  @media all and (min-width: 321px) and (max-width: 480px) {
    .span__1,
    .span__2,
    .span__4{
      width: 49.545252%;
      .grid_link {
         padding-bottom: 100%;
        }
    }
  }
  
  @media all and (min-width: 481px) {
    .span__1 {
      width: 25%;
      .grid_link {
        padding-bottom: 100%;
      }
    }
  
    .span__2 {
      width: 50%;
      .grid_link {
        padding-bottom: 50%;
      }
    }
  
    .span__4 {
      width: 100%;
      .grid_link {
        padding-bottom: 25%;
      }
    }
  }